@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');




body
{
    padding: 0;
    margin: 0;
    background-color: black;
}
.banner
{
    width: 100vw;
    height: 500px;
    border-bottom: 1px solid rgb(224, 224, 224);
    
}
.banner img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aqua;
}
.details
{
    width: 100vw;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.details-line
{
    width: 100px;
    height: 0;
    border-bottom: 1px solid pink;
}
.main-
{
    width: 100vw;
    height: 180px;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}
.main-title
{   
    height: 30px;
    font-family: "Viaoda Libre", serif;
    color: white;
   
    font-size: 24px;
}
.main-subtitle
{
   
    height: 30px;
    font-size: 14px ;
    font-family: "Viaoda Libre", serif;
    color: rgba(255, 255, 255, 0.562);
}
.main-button
{
    
    width: 500px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main-button-buttons
{
    
    border-radius: 2px;
    width: 150px;
    height: 70px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button-buttons::before
{
    content: 'R$';
}
.main-button-buttons::after
{
    content: ',00';
}
.main-button-buttons:hover
{
    cursor: pointer;
    background-color: rgba(245, 245, 220, 0.863);
}
.details-lines
{
    width: 50px;
    height: 0;
    border-bottom: 1px solid pink;
}
.BreadP
{
    
    padding-left: 50px;
    width: 100vw;
    height: 30px;
    
}
.breadcrumb-item a
{
    text-decoration: none;
    color: bisque;
    text-decoration: underline;
}
.space
{
 width: 100vw;
 height: 640px;
 
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;

}
.space-card
{
    /* flex-basis: calc(25%-20px); */
    border: 1px solid white;
    width: 380px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
   
}
.space-card-img
{
    width: 100%;
    height: 400px;
    
}
.space-card-img img
{
    width: 100%;
    height: 100%;
}

.title-card
{
    padding: 10px;
    color: white;
    font-size: 24px;
    font-family: "Viaoda Libre", serif;
}
.envolvedora .subtitle-card
{
    padding: 10px;
    color: rgba(180, 180, 180, 0.911);
    font-size: 16px;
    font-family: "Viaoda Libre", serif;
}
.envolvedora:hover .subtitle-card
{
    display: none;
}
.envolvedora .button-payment
{
    display: none;
    border: 1px solid white;
    
    width: 200px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.925);
    
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);


}
.envolvedora:hover .button-payment
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Viaoda Libre", serif;
}
.button-payment a
{
    text-decoration: none;
    color: black;
}
.rodapé
{
   
    width: 100vw;
    height: 40vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.rodapé-title
{
    font-family: "Viaoda Libre", serif; 
    color: white;
    font-size: 24px;
}
.rodapé-subtitle
{
    font-family: "Viaoda Libre", serif; 
    color: rgba(226, 226, 226, 0.877);
    font-size: 15px;
}
.button-mais
{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.button-mais-border
{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid pink;
    border-radius: 2px;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.055);
    color: white;
    font-family: "Viaoda Libre", serif; 
    font-size: 24px;
}
