.main_content_produto{
    /* background-color: aqua; */
    align-items: flex-start;
}
.breadcrumb-item a{
    text-decoration: none;
    color: #feb9c7;
}
.breadcrumb-item.active{
    color: #c7929d49;
}
.main_content_produto_content{
    background-color: #feb9c7;
    /* flex-grow: 1; */
    width: 100%;
}
.main_content_produto_content{
    display: flex;
    gap: 2rem;
}
.main_content_produto_content_imgs{
    background-color: antiquewhite;
    width: 20%;
}
.carousel-item img{
    width: 100px;
}