.navbar_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.navbar_content_logo_img{
    width: 150px;
}
.navbar_content_logo{
    padding-top: 20px;
}
.hero_wapprer{
    position: sticky;
    top: 0;
    left: 0;
}
.footer_wapprer{
    margin-top: 4em;
    /* n             */
}
.p_footer{
    text-align: center;
    padding: 1em;
    /* background: -webkit-linear-gradient(left, #8f6B29, #FDE08D, #DF9F28);
	background: linear-gradient(left, #8f6B29, #FDE08D, #DF9F28); */
    background-color: rgb(254, 185, 199);
    width: 100%;
}
.footer_title{
    color: rgb(2, 2, 2);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer_content{
    color: rgb(20, 20, 20);
}